* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

aside {
	float: left;
	width: 20.5%;
}

#account ul {
	width: 100%;
	display: table;
	text-align: center;
}

#account ul li {
	display: inline-block;
	text-decoration: none;
	padding: 30px 5px;
}

#account ul li a {
	color: black;
}

#account ul li a:hover {
	text-decoration: underline !important;
}

#account {
	/* height: 100px; */
	background-color: #f6f6f6;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: .5px;
	margin-bottom: 40px;
}

.row {
	margin-left: 40px;
	margin-right: 0px;
}

table {
	border: #f6f6f6 solid 2px;
	width: 80%;
	padding: 0;
	margin-left: 37px;

}

table tr td {
	padding: 5px 15px;
}

table tr th {
	color: #ffffff;
	padding: 12px 20px;
	font: 600 16px/24px 'Roboto', sans-serif;
	text-align: left;
	letter-spacing: 0.5px;
}

#information th {
	color: black;
}

#accountsd {
	background-color: #7b5244;
}

#information {
	background-color: #f6f6f6;
}

table tr td a {
	font-size: 13px;
	color: #262626;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: .5px;
}

table tr td a:hover {
	color: #7b5244;
}

#newCust,
#login {
	width: 35%;
	float: left;
	border: 1px solid #e5e5e5;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	/* height: 400px; */
	margin: 0px 15px
}

#newCust h3,
#login h3 {
	font-size: 16px;
	color: #000;
	margin-bottom: 15px;
	font-weight: 600;
}


#newCust h5,
#newCust p,
#login h5,
#login p {
	color: gray;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: .5px;
	margin-bottom: 10px;
}

.txt {
	font-size: 14px;
	width: 100%;
	height: 40px;
	padding: 6px 12px;
	font-size: 14px;
	color: #888;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

label {
	font-size: 13px;
	font-weight: bold;
	color: #262626;
	font-family: 'Roboto',sans-serif;
    line-height: 26px;
    letter-spacing: .5px;
}

#email
{
	margin-bottom: 15px;
}

#fgtpass
{
	color: #000;
	font-family: 'Roboto',sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .5px;
}

#fgtpass:hover
{
	color: #7b5244;
}

#fgtpassdiv
{
	margin-bottom: 15px;
}

.button {
	border: 0px;
	color: #ffffff;
	background: #7b5244;
	border: 1px solid #7b5244;
	padding: 13px 22px;
	font-size: 14px;
	margin: 0;
}

.button:hover {
	background-color: black;
}



/* body
{
	margin: 0;
	padding: 0;
	background: url(../images/main-banner-1-1600x700.jpg);
	background-size: cover;
	font-family: sans-serif;
	z-index: 0;

}

.title{
	text-align: center;
	padding: 50px 0 20px;
}

.title h1{
	margin: 0;
	padding: 0;
	color:pink;
	text-transform: uppercase;
	font-size: 36px;

}

.container{
	width: 50%;
	height: 400px;
	background: #fff;
	margin: 0 auto;
	border: 2px solid #fff;
	box-shadow: 0 15px 40px rgba(0,0,0,.5);
	z-index: 0;
}

.container .left{
	float: left;
	width: 50%;
	height: 400px;
	background: url(../images/main-banner-1-1600x700.jpg);
	background-size: cover;
	box-sizing: border-box;
	z-index: 1;
}

.container .right{
	float: right;
	width: 50%;
	height: 400px;
	box-sizing: border-box;
	z-index: 3;
	border: 1px dashed firebrick;
}

.formBox{
	width: 100%;
	padding: 50px 40px;
	box-sizing: border-box;
	height: 400px;
	background:#fff;
}

.formBox p{
	margin: 0;
	padding:0;
	font-weight: bold;
	color: #cc2c9c;
}

.formBox input{
	width: 100%;
	margin-bottom: 20px;
	
}

.formBox input[type="text"],
.formBox input[type="password"],
.formBox input[type="email"]

{
	border: none;
	border-bottom: 2px solid #cc2c9c;
	outline: none;
	height: 20px;
}

.formBox input[type="text"]:focus,
.formBox input[type="password"]:focus,
.formBox input[type="email"]:focus
{
	border-bottom: 2px solid #262626;
	background:fuchsia;
}

.formBox input[type="submit"]:hover{
	box-shadow: 0px 8px 16px white ;
	background-color: grey;
	
}

.formBox input[type="submit"]{
  position: relative;
  background-color: fuchsia;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border: none;
  font-weight: bold;
  width: 50%;
  border-radius: 10%;
  min-height: 40px;
}
 */