/* With Bootstrab */
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.card-body a {
	color: #262626;
	text-decoration: none;
	padding: 5px 25px;
    text-transform: capitalize;
    font-size: 13px;
}

.card-body a:hover {
	color: #7b5244;
}

.card-header
{
	background: #7b5244;
	color: white;
	height: 45px;
}

button
{
	background: #7b5244;
}

.head{
	font-weight: 600;
	font-size: 13px;
	color: gray;
}


.parg
{
	color: gray;
	font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .5px;
}

label {
    font-size: 13px;
    font-weight: 600;
    color: #262626;
}


@media screen and (max-width:1250px) {
    .header-content .login ul li {
        padding: 3px;
    }

    .header-content img {
        flex: 1;
        max-width: 100px;
    }

    .header-content .login {
        display: none;
    }

    .header-content nav ul li .link-item {
        padding: 10px 30px;
        display: block;
        font-weight: bold;
        position: relative;
    }
}

@media screen and (max-width:1200px) {
    .products-items {
        display: grid;
        grid-template-columns: repeat(2, .7fr);
        grid-gap: 10px;
        margin: 30px 0;
        text-align: center;
    }
}

@media screen and (max-width:780px) {
    header{
        display: none;
    }
}

@media screen and (max-width:340px) {
    .products-items {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-gap: 10px;
        margin: 30px 0;
        text-align: center;
    }

    .last-section{
        display:none;
    }

}

/* PureCSS */

/* 

aside {
	float: left;
	width: 20.5%;
}

#account ul {
	width: 100%;
	display: table;
	text-align: center;
}

#account ul li {
	display: inline-block;
	text-decoration: none;
	padding: 30px 5px;
}

#account ul li a {
	color: black;
}

#account ul li a:hover {
	text-decoration: underline !important;
	color: #7b5244;
}

#account {
	background-color: #f6f6f6;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: .5px;
	margin-bottom: 40px;
}

.row {
	margin-left: 40px;
	margin-right: 0px;
}

table{
	border: #f6f6f6 solid 2px;
	width: 81%;
	padding: 0;
	margin-left: 37px;
}

table tr td {
	padding: 5px 15px;
}

table tr th {
	color: #ffffff;
	padding: 12px 20px;
	font: 600 16px/24px 'Roboto', sans-serif;
	text-align: left;
	letter-spacing: 0.5px;
}

#informationLogin th, #Specials th {
	color: black;
}

#accountsd, #Categories {
	background-color: #7b5244;
}

table #informationLogin, #Specials th {
	background-color: #f6f6f6;
	
}

#informtable
{
	margin-top: 25px;
}

table tr td a, .show a{
	font-size: 13px;
	color: #262626;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: .5px;
	cursor: pointer;
}

table tr td a:hover, .show a:hover {
	color: #7b5244;
	cursor: pointer;
}

#newCust,
#login {
	width: 35%;
	float: left;
	border: 1px solid #e5e5e5;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	margin: 0px 15px
}

#newCust h3,
#login h3 {
	font-size: 16px;
	color: #000;
	margin-bottom: 15px;
	font-weight: 600;
}


#newCust h5,
#newCust p,
#login h5,
#login p {
	color: gray;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: .5px;
	margin-bottom: 10px;
}

.txt {
	font-size: 14px;
	width: 100%;
	height: 40px;
	padding: 6px 12px;
	font-size: 14px;
	color: #888;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

label {
	font-size: 13px;
	font-weight: bold;
	color: #262626;
	font-family: 'Roboto',sans-serif;
    line-height: 26px;
    letter-spacing: .5px;
}

#email
{
	margin-bottom: 15px;
}

#fgtpass
{
	color: #000;
	font-family: 'Roboto',sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .5px;
}

#fgtpass:hover
{
	color: #7b5244;
}

#fgtpassdiv
{
	margin-bottom: 15px;
}

.button {
	border: 0px;
	color: #ffffff;
	background: #7b5244;
	border: 1px solid #7b5244;
	padding: 13px 22px;
	font-size: 14px;
	margin: 0;
}

.button:hover {
	background-color: black;
}
 */
